.selfcare-container {
  display: flex;
  align-content: center;
  justify-content: center;

  .selfcare-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;

    .product-list-wrapper {
      display: flex;
      margin: 5px;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .cart-wrapper {
      display: flex;
      margin: 5px;
    }
  }
}